<div class="palm-page-header multi-line">
 <div class="palm-page-header-wrapper">
	<div id="title-icon" class="icon form-icon transaction"></div>
 	<div id="transaction-edit-title" class="title" style="display:block;">Can you see title here?</div>
 </div>
</div>

<div class="palm-list">
    <div class="palm-row first">
        <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
            <div id="transaction-account-field" x-mojo-element="ListSelector"></div>
        </div>
    </div>
    <div class="palm-row" x-mojo-focus-highlight="true">
        <div class="palm-row-wrapper">
            <div class="title">
                <div id="transaction-date-field" x-mojo-element="DatePicker"></div>
            </div>
        </div>
    </div>
    <div class="palm-row">
        <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
            <div id="transaction-type-field" x-mojo-element="ListSelector"></div>
        </div>
    </div>
    <div class="palm-row">
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
                <div id="transaction-amount-field" x-mojo-element="TextField"></div>
            </div>
        </div>
    </div>
    <div class="palm-row last">
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
                <div id="transaction-category-field" x-mojo-element="CategoryPicker"></div>
            </div>
        </div>
    </div>
    <!--<div class="palm-row last">-->
        <!--<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">-->
            <!--<div class="title">-->
                <!--<div id="transaction-category-field" style="float:left;">Salary</div>-->
                <!--<div name="pickCategoryButton" class="list-icon category-picker"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<div id="transaction-spinner"></div>