<!--<div id="feedTitle" class="palm-header center">-->
    <!--Feed Title-->
<!--</div>-->

<!--<div class="palm-header-spacer"></div>-->

<div id="feedTitle2" class="palm-header center">
    Add Feed
</div>

<div class="palm-header-spacer"></div>

<!--<div id='feedDrawer' x-mojo-element="Drawer">-->
    <!--<div id="add-feed-title" class="palm-dialog-title">-->
        <!--Add Feed-->
    <!--</div>-->
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper textfield-group"
                 x-mojo-focus-highlight="true">
                <div class="title">
                    <div x-mojo-element="TextField" id="newFeedURL"></div>
                </div>
            </div>
        </div>
        <div class='palm-row last'>
            <div class="palm-row-wrapper textfield-group"
                 x-mojo-focus-highlight="true">
                <div class="title">
                    <div x-mojo-element="TextField" id="newFeedName"></div>
                </div>
            </div>
        </div>
    </div>

    <div x-mojo-element="Button" id="okButton"></div>
    <div x-mojo-element="Button" id="cancelButton"></div>
<!--</div>-->

<!--<div id="storyListScene" class="storyListScene">-->
    <!--<div x-mojo-element="List" id="storyListWgt"></div>-->
<!--</div>-->

<!--<div id="main" class="palm-hasheader">-->
    <!--<div class="palm-header center" id="main-hdr">-->
        <!--Secret Sandbox-->
    <!--</div>-->
<!--</div>-->

<!--<br/>-->

<!--<table class="palm-list-section-label">-->
<!--<tr>-->
<!--<td>-->
<!--<span x-mojo-loc="">ToggleButton</span>-->
<!--</td>-->
<!--<td>-->
<!--<div id="toggleButton" x-mojo-element="ToggleButton" class="toggle-text">-->
<!--</div>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->

<!--<br/>-->

<!--<div class="palm-text-wrapper">-->
<!--<div id="toggleSummary" class="palm-info-text">-->
<!--toggle summary-->
<!--</div>-->
<!--</div>-->

<!--<br/>-->

<!--<div class="palm-group labeled">-->
<!--<div class="label">Transport</div>-->
<!--<div class="palm-list">-->
<!--<div class="palm-row first">-->
<!--<div id="trainSelector" x-mojo-element="ListSelector"></div>-->
<!--</div>-->
<!--<div class="palm-row">-->
<!--<div id="departureSelector" x-mojo-element="ListSelector"></div>-->
<!--</div>-->
<!--<div class="palm-row">-->
<!--<div id="destinationSelector" x-mojo-element="ListSelector"></div>-->
<!--</div>-->
<!--<div class="palm-row last">-->
<!--<div id="timeSelector" x-mojo-element="ListSelector"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div id="toggleButton" x-mojo-element="ToggleButton"></div>-->
