.float-left {
    float: left;
}

.block {
    display: block;
}

.none {
    display: none;
}

.list-header-text {
	text-align:left;
}

.list-header-icon {
	float:left;
	height: 50px;
	width: 30px;
	margin-left: -5px;
	margin-right: 5px;
}

.currency-form-icon {
  width: 32px;
  height: 32px;
  float: left;
  background-image: url(../images/currency-small.png) !important;
}

.list-header-icon.default {
  background: url(../images/currency-small.png) center center no-repeat;
}

.currency-rate-text {
    float: right;
    padding-top: 13px;
    padding-bottom: 15px;
    margin-right: 8px;
}

.home-currency-icon {
    float: right;
    margin: 12px -9px 0 0;
    width: 56px;
    height: 26px;
    background: url(../images/currency-home.png) center center no-repeat;
}

.error-icon {
    float: right;
    margin: 12px -9px 0 0;
    width: 56px;
    height: 26px;
    background: url(../images/error-small.png) center center no-repeat;
}