.float-left {
    float: left;
}

.block {
    display: block;
}

.none {
    display: none;
}

.list-header-text {
    text-align: left;
}

.list-header-icon {
    float: left;
    height: 50px;
    width: 30px;
    margin-left: -5px;
    margin-right: 5px;
}

.list-header-icon.currency {
    background: url(../images/currency-small.png) center center no-repeat;
}

.list-header-icon.account {
    background: url(../images/account-small.png) center center no-repeat;
}

.header-dropdown {
    position: relative;
    float: right;
    margin: 8px -16px 0 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    height: 35px;
    line-height: 33px;
    border-width: 0 22px 0 16px;
    -webkit-border-image: url(../images/header-dropdown.png) 0 22 0 16 stretch stretch;
    -webkit-box-sizing: border-box;
}

.header-dropdown-selector {
	margin-left: -5px;
	padding-right: 2px;
	background: transparent;
	display:inline-block;
	min-width: 12px;
	max-width: 80px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.header-dropdown-arrow {
    background: transparent;
    float: right;
    display: inline-block;
    background: url(../images/header-dropdown-arrow.png) right center no-repeat;
    height: 36px;
    margin-right: -12px;
    width: 10px;
}

.header-dropdown-popup {
    /*float: right;*/
	top: 38px; /*4 px from header, max height should be same dist from bot as top*/
    /*margin-right: -12px;*/
    /*margin-left: 40px;*/
	right: 0;
}

.form-icon {
    width: 32px;
    height: 32px;
    float: left;
}

.form-icon.currency {
    background-image: url(../images/currency-small.png) !important;
}

.form-icon.account {
    background-image: url(../images/account-small.png) !important;
}

.currency-rate-text,
.account-balance-text {
    float: right;
    padding-top: 13px;
    padding-bottom: 15px;
    margin-right: 8px;
}

.home-currency-icon {
    float: right;
    margin: 12px -9px 0 0;
    width: 56px;
    height: 26px;
    background: url(../images/currency-home.png) center center no-repeat;
}

.home-currency-header-icon, .closed-account-header-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 11px;
    right: 11px;
    background-image: url(../images/currency-home.png);
}