<div class="palm-page-header multi-line">
 <div class="palm-page-header-wrapper">
	<div id="title-icon" class="icon form-icon currency"></div>
 	<div class="title" id="currency-view-title" style="display:block;">View Currency</div>
    <div id="title-home-icon" class="home-currency-header-icon" style="display:none;"></div>
 </div>
</div>

<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <span id="currency-symbol"></span>
                    <span class="label">Symbol</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <span id="currency-rate"></span>
                    <span class="label">Rate</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="currency-spinner"></div>
