<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
        <div id="currency-name" class="title left"></div>
        <div id="currency-home-text" class="subtitle left"></div>
    </div>
</div>

<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <span id="currency-symbol"></span>
                    <span class="label">Symbol</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <span id="currency-exchange-rate"></span>
                    <span class="label">Exchange Rate</span>
                </div>
            </div>
        </div>
    </div>
</div>