<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
        <div id="title-icon" class="icon form-icon transaction"></div>
        <div id="account-view-title" class="title" style="display:block;">View Transaction</div>
    </div>
</div>

<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <span id="transaction-account-name"></span>
                    <span class="label">Account</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <span id="transaction-category-name"></span>
                    <span class="label">Category</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <span id="transaction-date"></span>
                    <span class="label">Date</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <span id="transaction-amount"></span>
                    <span class="label">Amount</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="transaction-spinner"></div>
