<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
        <div id="title-icon" class="icon form-icon category"></div>
        <div id="category-view-title" class="title">View Category</div>
    </div>
</div>

<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <span id="category-parent-name"></span>
                    <span class="label">Parent</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <span id="category-type-name"></span>
                    <span class="label">Type</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="category-spinner"></div>
