<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr">
        <div id="accountViewTitle" class="title left">
            #{title}
        </div>
	</div>
</div>


<div class="palm-text-wrapper">
    <div id="accountViewSummary" class="palm-body-text">
        #{text}
    </div>
</div>

<!--<div id="accountViewScene">-->
    <!--<div class="palm-page-header multi-line">-->
        <!--<div class="palm-page-header-wrapper">-->
            <!--<div id="accountViewTitle" class="title left">-->
                <!--#{title}-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
