<div class="palm-page-header multi-line">
 <div class="palm-page-header-wrapper">
 	<div class="title">Tests Runner</div>
 </div>
</div>

<div class="palm-group">
    <div class="palm-group-title">Stats</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <span class="left label">Status</span>
                    <span id="status-text" class="left subtitle">-</span>
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <span class="left label">Failed</span>
                    <span id="failed-text" class="left subtitle">-</span>
                </div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <span class="left label">Total</span>
                    <span id="total-text" class="left subtitle">-</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title">Results</div>
    <div class="palm-row single">
        <div class="palm-row-wrapper subtitle" style="color: blue;">
            ToDO
        </div>
    </div>
</div>

