<div class="palm-page-header multi-line">
 <div class="palm-page-header-wrapper">
	<div id="title-icon" class="icon form-icon currency"></div>
 	<div id="account-edit-title" class="title" style="display:block;">Can you see title here?</div>
 </div>
</div>

<div class="palm-list">
    <div class="palm-row first">
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
                <div id="account-name-field" class="edit-title-field" x-mojo-element="TextField"></div>
            </div>
        </div>
    </div>
    <div class="palm-row">
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
                <div id="account-currency-field" class="edit-title-field" x-mojo-element="ListSelector"></div>
            </div>
        </div>
    </div>
    <div class="palm-row last">
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
                <div id="account-opening-balance-field" class="edit-title-field" x-mojo-element="TextField"></div>
            </div>
        </div>
    </div>
</div>

<div id="account-spinner"></div>